* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

:root {
  font-size: 60px;
}

.container {
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
