* {
    margin: 0;
    padding: 0;
}

// body {
//     height: 100vh;
//     width: 100vw;
// }

:root {
    font-size: 60px;
}

.container {
    background-color: green;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}