* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

:root {
    font-size: 60px;
}

.container {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}